{% from 'macros/GlobalSearch.html' import GlobalSearch %}
{% from 'macros/HomePageMenu.html' import HomePageMenuBar %}
{% from 'macros/Divider.html' import Divider %}
{% from 'macros/HomePageTile.html' import Tile %}
{% from 'macros/ProductTile.html' import ProductTile %}
{% from 'macros/PartnerTile.html' import PartnerTile %}
{% from 'macros/FeaturedTile.html' import FeaturedTile %}
{% from 'macros/WalkThroughDialog.html' import WalkThroughDialog%}
{# {% from 'processingFiles/HomePageDataProcessing.jinja' import process_data%} #}
{# {% from 'processingFiles/CreateDictionary.jinja' import create_dictionary%} #}


{#-Jinja template for home page-#}
{% extends "base.html.jinja" %}

{% block head_title -%}
<title>Home Page SUSE Documentation</title>
{% endblock head_title %}

{% block head_link_css -%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../styles/homePageStyles.css">
{% endblock head_link_css -%}


{% set mainSection = data | selectattr("site-section", "equalto", "main")| first %}
{% set productLine = mainSection.productline %}
{% set productInfo = mainSection.product %}
{% set productsList = [] %}
{% for prod in productLine %}
{% set prodObj = {
"label": productLine[prod],
"description": productInfo[prod].description,
"versions": []
} %}
{% for path in productInfo[prod] if path != "description" %}
{% set versionObj = {
"label": productInfo[prod][path].acronym + " " + productInfo[prod][path].version,
"pointingUrl": path
} %}
{% set _ = prodObj.versions.append(versionObj) %}
{% endfor %}
{% set _ = productsList.append(prodObj) %}
{% endfor %}
{% set productsList = productsList | sort(attribute='label') %}

{% set sbpSection = data | selectattr("site-section", "equalto", "sbp") | first %}
{% set sbpList = sbpSection.product.sbp %}
{% set categoriesList = [] %}
{% for path in sbpList %}
{% set categoryObj = {
"label": sbpList[path].version,
"description": sbpList[path].description,
"pointingUrl": path
} %}
{% set _ = categoriesList.append(categoryObj) %}
{% endfor %}
{% set categoriesList = categoriesList | sort(attribute='label') %}

{% set trdSection = data | selectattr("site-section", "equalto", "trd") | first %}
{% set trdList = trdSection.product.trd %}
{% set partnersList = [] %}
{% for path in trdList %}
{% set partnerObj = {
"label": trdList[path].version,
"description": trdList[path].description,
"pointingUrl": path,
"docTypes":[{ "label": "All", "pointingUrl": path },
{ "label": "Getting started", "pointingUrl": path+'/getting-started' },
{
"label": "Reference Implementation",
"pointingUrl": path+'/reference-implementation'
},
{
"label": "Reference Configuration",
"pointingUrl": path+ '/reference-configuration'
},
{
"label": "Enterprise Architecture",
"pointingUrl": path + '/enterprise-architecture'
}]
} %}
{% set _ = partnersList.append(partnerObj) %}
{% endfor %}
{% set partnersList = partnersList | sort(attribute='label') %}


{% block body_main%}
<div class="main-container">
    <h1 class="pageHeading">SUSE Documentation</h1>
    {{GlobalSearch()}}
    {{HomePageMenuBar()}}

    <div id="products-content" class="active-content tab-content">
        <div class="productsContainer">
            {% for product in productsList %}
            {% if loop.index <= 8 %} {{ ProductTile(icon=product.icon, title=product.label,
                popoverItems=product.versions, description=product.description, pointingUrl=product.pointingUrl) }}
                {%endif%} {% if loop.index> 8 %}
                {{ ProductTile(icon=product.icon, title=product.label, popoverItems=product.versions,
                description=product.description, pointingUrl=product.pointingUrl, hidden='true') }}
                {% endif %}
                {% endfor %}
        </div>
        <button class="explore-list-button" onclick='onShowAllProducts(event)'>
            Explore more products
            <i class="fa fa-solid fa-angle-down fa-2x"></i>
        </button>
        <button class="explore-list-button hideButton" onclick='onHideAllProducts(event)'>
            Show fewer products
            <i class="fa fa-solid fa-angle-up fa-2x"></i>
        </button>
    </div>

    <div id="sbp-content" class="tab-content">
        <div class="categoriesContainer">
            {% for category in categoriesList %}
            {{
            Tile(pointingUrl=category.pointingUrl,title=category.label,
            description = category.description | default(''),
            popoverItems= category.versions, isSBP='true',isTRD='false') }}
            {% endfor %}
        </div>
    </div>

    <div id="trd-content" class="tab-content">
        <div class="trdContainer">
            {% set alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' | list %}
            <ul class="alphabeticalSelector">
                {% for letter in alphabets %}
                <li>
                    <button onclick="onAlphabetSelect(event)" class="{{'selectedAlphabet' if letter == 'A' else '' }}">
                        {{ letter }}
                    </button>
                </li>
                {% endfor %}
            </ul>

            {% set trdList = partnersList|sort(attribute='label') %}
            {% for partner in trdList %}
            {% if loop.index <= 8 %} {{ Tile(pointingUrl=partner.pointingUrl , title=partner.label,
                description=partner.description | default(''), popoverItems=[], isTRD='true' , isSBP='false' ) }} {%
                endif %}{% if loop.index>8 %} {{
                Tile(pointingUrl=partner.pointingUrl , title=partner.label,
                description = partner.description | default(''), popoverItems=[], isTRD='true' ,
                isSBP='false' , hidden='true' ) }} {% endif %}
                {# {% if loop.index <= 8 %} {{ Tile(pointingUrl='' , title=partner.label,
                    description=partner.description, popoverItems=partner.docTypes, isTRD='true' , isSBP='false' ) }} {%
                    endif %}{% if loop.index>8 %} {{
                    Tile(pointingUrl='' , title=partner.label,
                    description=partner.description, popoverItems=partner.docTypes, isTRD='true' ,
                    isSBP='false' , hidden='true' ) }} {% endif %} #}
                    {% endfor %}
        </div>
    </div>

    <div id="newest-content" class="tab-content">
        <div class="newestContainer">
            {% for newArticle in newestArticles %}
            {{Tile(pointingUrl=newArticle.pointingUrl,title=newArticle.title,
            description=newArticle.description) }}
            {% endfor %}
        </div>
    </div>

    <div id="mostPopular-content" class="tab-content">
        <div class="popularContainer">
            {% for popularArticle in mostPopular %}
            {{Tile(pointingUrl=popularArticle.pointingUrl,title=popularArticle.title,
            description=popularArticle.description) }}
            {% endfor %}
        </div>
    </div>

    {# {{Divider()}}
    <label class="section-header" id="featured_tab">Featured</label>
    <div class="featuredContainer">
        {% for featuredArticle in featuredData %}
        {{
        FeaturedTile(
        imageName=featuredArticle.imageName,
        pointingUrl=featuredArticle.pointingUrl,
        title=featuredArticle.title
        )
        }}
        {% endfor %}
    </div> #}

    <div id="customPopover" class="popover" style="display: none;">
        <img alt="SUSE Logo" src="" id="popoverLogo" class="suseLogo-in-popup" />
        <label id="popoverLabel"></label>
        <ul id="popoverList"></ul>
    </div>
    {{WalkThroughDialog()}}
</div>
{%endblock body_main%}

{% block after_body_scripts %}
{{ super() }}
<script src="../JS/homePage.js"></script>
<script src="../JS/walkThrough.js" defer></script>
{% endblock after_body_scripts -%}