{% extends "base.html.jinja" %}

{% from 'macros/Dropdown.html' import Dropdown %}
{% from 'macros/WalkThroughDialog.html' import WalkThroughDialog%}

{% block head_title -%}
<title>
    {% if isSBP%}
    {{data.productname + ': ' +data.version}}
    {%endif%}
    {% if isProduct%}
    {# {{product + ' ' +version}} #}
    {{data.productname + ' ' + data.version}}
    {%endif%}
    {% if isTRD%}
    {{data.productname + ': ' + data.version}}
    {%endif%}
    {% if isSmartDocs%}
    {{data.productname + ': ' + data.version}}
    {%endif%}
</title>
{% endblock head_title %}

{% block head_link_css -%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../styles/indexPageStyles2.css">
{% endblock head_link_css -%}

{# Processing logic #}

{% set descriptionData = data.descriptions | selectattr('lang', 'equalto', lang) | first %}
{% if not descriptionData %}
{% set descriptionData = data.descriptions | selectattr('default', 'equalto', true) | first %}
{% endif %}

{% set archivesData = data.archives | selectattr('lang', 'equalto', lang) | first %}
{% if not archivesData %}
{% set archivesData = data.archives | selectattr('default', 'equalto', true) | first %}
{% endif %}


{% set articles = [] %}

{% for documentData in data.documents %}
{% set langSpecificData = documentData.docs | selectattr('lang', 'equalto', lang) | first %}

{% if not langSpecificData %}
{% set langSpecificData = documentData.docs | selectattr('default', 'equalto', true) | first %}
{% endif %}

{%set productsList = []%}
{% for product in documentData.products %}
{% if product.name not in productsList %}
{% set _ = productsList.append(product.name) %}
{% endif %}
{% endfor %}

{% if langSpecificData %}
{% set article = {
"title": langSpecificData.title,
"subtitle": langSpecificData.subtitle,
"description": langSpecificData.description,
"links": langSpecificData.format,
"dateModified": langSpecificData.dateModified,
"tasks": documentData.tasks,
"products": documentData.products,
'productsOnly': productsList,
"docTypes": documentData.docTypes,
"rank": documentData.rank,
"gated": documentData.gated
} %}
{% set _ = articles.append(article) %}
{% endif %}
{% endfor %}

{# Fetching task list, docType list #}

{% set topic_list = [] %}
{% set products_list = [] %}
{% set doc_type_list = [] %}

{% for article in articles %}
{% for task in article.tasks %}
{% if task not in topic_list %}
{% set _ = topic_list.append(task) %}
{% endif %}
{% endfor %}

{% for product in article.products %}
{% if product.name not in products_list %}
{% set _ = products_list.append(product.name) %}
{% endif %}
{% endfor %}

{% for docType in article.docTypes %}
{% if docType not in doc_type_list %}
{% set _ = doc_type_list.append(docType) %}
{% endif %}
{% endfor %}
{% endfor %}

{% set topic_list = ['All']+topic_list | sort() %}
{% set products_list = ['All']+products_list | sort() %}
{% set doc_type_list = ['All']+doc_type_list | sort() %}

{# End of processing logic #}

{% block body_main%}
<div class="main-container indexPage">
    <button class='helpButton' onclick="onStartIndexpageWalkthrough()"
        title="{{translations['walk-through']}}">{{translations['help-button']}}</button>
    <button class='feedbackButton' title="{{translations['feedback-button']}}"><a
            href="https://suselinux.fra1.qualtrics.com/jfe/form/SV_6P5BXUgnoxnlx30">{{translations['feedback-button']}}</a></button>
    <div class="breadcrumbs-bar" title="Navigation to homepage">
        <a href="{% if isSBP %} /{{lang}}?tab=sbp {% elif isTRD %} /{{lang}}?tab=trd {% elif isSmartDocs %} /{{lang}}?tab=smartdocs {% else %}  /{{lang}}?tab=products {% endif%}"
            onclick="onBackToHome(event)"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            {% if isSBP %} Best Practices {% elif isTRD %} Technical References {% elif isSmartDocs %} Smart Docs {%
            else %} Products & Solutions {%
            endif%}</a>
    </div>

    {% if isSBP%}
    <h1>{{data.productname + ': ' +data.version}}</h1>
    {%endif%}
    {% if isProduct%}
    {# {{product + ' ' +version}} #}
    <h1>{{data.productname + ' ' + data.version}} {%if data.lifecycle =='supported'%} ({{data.lifecycle}}) {%endif%}
    </h1>
    {%endif%}
    {% if isTRD%}
    <h1>{{data.productname + ': ' +data.version}}</h1>
    {%endif%}
    {% if isSmartDocs%}
    <h1>{{data.productname + ': ' +data.version}}</h1>
    {%endif%}

    <p class="page-description">
        {% if descriptionData%}
        {{descriptionData.description}}
        {%endif%}
    </p>

    {% if archivesData%}
    <span class="archives">
        <label>{{translations['archives-text']}}: </label>
        <a href="{{archivesData.zip}}"
            title="{{translations['archives-button']}}">{{translations['archives-button']}}</a>
    </span>
    {%endif%}

    <div class="filters-bar">
        <div class="select-section">
            <label for="sort-select">{{translations['sort-dropdown']}}</label>
            <select id="sort-select" onchange="onSortDocuments(event)" title="{{translations['sort-dropdown']}}">
                <option>Alphabetically</option>
                <option>Newest</option>
                {# <option>Popular</option> #}
            </select>
        </div>
        {%if isProduct or isSBP or isSmartDocs %}
        <div class="select-section">
            <label for="topic-select">{{translations['topic-dropdown']}}</label>
            <select id="topic-select" onchange="onApplyFilters()" title="{{translations['topic-dropdown']}}">
                {% for topic in topic_list %}
                <option>{{ topic }}</option>
                {% endfor %}
            </select>
        </div>
        {%endif%}
        {%if isSBP or isTRD or isSmartDocs%}
        <div class="select-section">
            <label for="product-select">{{translations['products-dropdown']}}</label>
            <select id="product-select" onchange="onApplyFilters()" title="{{translations['products-dropdown']}}">
                {% for product in products_list %}
                <option>{{ product }}</option>
                {% endfor %}
            </select>
        </div>
        {%endif%}
        {%if isTRD%}
        <div class="select-section">
            <label for="doctype-select">{{translations['doc-type-dropdown']}}</label>
            <select id="doctype-select" onchange="onApplyFilters()" title="{{translations['doc-type-dropdown']}}">
                {% for docType in doc_type_list %}
                <option>{{ docType }}</option>
                {% endfor %}
            </select>
        </div>
        {%endif%}
        <div class="select-section">
            <label for="type-filter">{{translations['filter-as-you-type-input']}}</label>
            <input id="type-filter" type='search' value="" placeholder="Type a keyword to filter"
                oninput="onApplyFilters()" title="{{translations['filter-as-you-type-input']}}" />
        </div>
    </div>

    <div id="allArticles-content">

        <label class='article-counter'>{{translations['showing-text']}} <span class='article-count'>
                {{articles|length}}</span>/<span>{{articles|length}} {{translations['articles-text']}}</span></label>

        <div class="articleTilesContainer">
            {% for article in articles | sort(attribute='title') %}
            <div class="articleRow" data-topics="{{ article.tasks }}" data-products="{{ article.productsOnly }}"
                data-doctypes="{{ article.docTypes }}"
                data-article-link="{% if article.links.html %}{{ article.links.html }}{% elif article.links.pdf %}{{ article.links.pdf }}{% endif %}"
                data-rank="{{ article.rank }}">
                <div class="articleText" onclick="onArticleClick(event)">
                    <a class="articleTitle"
                        href="{% if article.links.html %}{{ article.links.html }}{% elif article.links.pdf %}{{ article.links.pdf }}{% endif %}"
                        data-rank="{{ article.rank }}">
                        {{article.title}}
                    </a>
                    <p class="articleDescription">{{article.description}}</p>

                    {% set appliesToText = [] %}
                    {% for productInfo in article.products %}
                    {% set product_versions = productInfo.versions | join(', ') %}
                    {% set temp = productInfo.name + ' ' + product_versions %}
                    {% set _ = appliesToText.append(temp) %}
                    {% endfor %}
                    {% set appliesToText = appliesToText | join('; ') %}

                    {%if (isSBP or isTRD or isSmartDocs) and appliesToText%}
                    <p class="applies-to-text"> <span>{{translations['applies-to-text']}} : </span> {{ appliesToText }}
                    </p>
                    {%endif%}
                </div>
                <label class="date-modified">{{article.dateModified}}</label>
                {% set dropdown_tooltip = translations['format-tooltip']%}
                {{Dropdown(article.links, dropdown_tooltip)}}
                {# {{Dropdown(article.links, translations)}} #}
            </div>
            {% endfor %}
        </div>
        <p class="no-match-text">No matching articles found</p>
    </div>
    {{WalkThroughDialog()}}
</div>

{%endblock body_main%}

{% block after_body_scripts %}
{{ super() }}

{% set filteredTranslations = {} %}
{% for key, value in translations.items() %}
{% if 'walkthrough' in key %}
{% set filteredTranslations = filteredTranslations.update({key: value}) or filteredData %}
{% endif %}
{% endfor %}

<script>
    var translations = {{ filteredTranslations }}</script>
<script src="../JS/indexPages2.js"></script>
<script src="../JS/walkThrough.js"></script>
{% endblock after_body_scripts -%}