{% from 'macros/IndexPageMenu.html' import IndexPageMenu %}
{% from 'macros/Divider.html' import Divider %}
{% from 'macros/Dropdown.html' import Dropdown %}
{% from 'macros/ArticleTileIndexPage.html' import ArticleTileIndexPage%}
{% from 'macros/Accordion.html' import Accordion%}


{#-Jinja template for home page-#}
{% extends "base.html.jinja" %}

{% block head_title -%}
<title>Index Page SUSE Documentation</title>
{% endblock head_title %}

{% block head_link_css -%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../styles/indexPageStyles.css">
{% endblock head_link_css -%}

{% block body_main%}

<div class="main-container indexPage">
    <div class="breadcrumbs-bar">
        <a href="./homePage.html" onclick="onBackToHome(event)"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Home Page</a>
    </div>
    <h1>{{title}}</h1>
    <p>
        {{description}}
    </p>
    <form method="get" class="formHeader" onsubmit="onFilterTRDAllSections(event)">
        <input type='search' name="" id="search" class="searchInput filterInput" size="80"
            placeholder="Filter the list by article title" oninput="onFilterTRDAllSections(event)" />

        <button type="submit" value="Search" title="Search" class="searchButton filterButton">
            <i class="fa fa-filter"></i>
        </button>
    </form>

    {% for docType in docTypeList %}
    <div class="section">
        <label class="section-header">{{docType}}</label>
        <div>
            {% for article in articles %}
            {% if article.docType == docType %}
            <div class="articleRow">
                <p class="articleText">
                    <a href={{article.links.html}}>
                        {# Article Title {{ loop.index }} : {{ article.title }} #}
                        Article Title : {{article.title}}
                    </a>
                </p>
                <label>DD/MM/YYYY</label>
                {{Dropdown(article.links)}}
            </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <p class="no-match-text">No matching articles found</p>

</div>
{%endblock body_main%}

{% block after_body_scripts %}
{{ super() }}
<script src="../JS/indexPages.js"></script>
{% endblock after_body_scripts -%}