<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSE - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../styles/genericStyles.css">
    <link rel="stylesheet" type="text/css" href="../styles/indexPageStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    {% from 'macros/IndexPageMenu.html' import IndexPageMenu %}
    {% from 'macros/ScrollToTop.html' import ScrollToTop %}
    {% from 'macros/Divider.html' import Divider %}
    {% from 'macros/Dropdown.html' import Dropdown %}
    {% from 'macros/ArticleTileIndexPage.html' import ArticleTileIndexPage%}
    {% from 'macros/Accordion.html' import Accordion%}

    <div class="view">
        {# {% include 'Header.html' %} #}
        <header class="App-header">
            <img src='../assets/Header_SUSE.png' alt=" SUSE Header" class="header-image">
        </header>

        <div class="main-container indexPage">
            <h1>{{title}}</h1>
            <p>
                {{description}}
            </p>
            {{Divider()}}
            {{IndexPageMenu(isTRD)}}

            <div id="allArticles-content" class="tab-content active-content">
                <form method="get" class="formHeader" onsubmit="onFilterAllArticlesList(event)">
                    <input type="search" id="search" class="searchInput filterInput" size="80"
                        placeholder="Filter the list by article title" oninput="onFilterAllArticlesList(event)" />
                    <button type="submit" value="Search" title="Search" class="searchButton filterButton">
                        <i class="fa fa-filter"></i>
                    </button>

                </form>
                <div>
                    {% for article in articles %}
                    <div class="articleRow">
                        <p class="articleText" data-article-link="{{article.links.html}}"
                            onclick="onArticleClick(event)">
                            <a class="articleTitle" href={{article.links.html}}>
                                {# Article Title {{ loop.index }} : {{ article.title }} #}
                                Article Title : {{article.title}}
                            </a>
                        </p>
                        <label>DD/MM/YYYY</label>
                        {{Dropdown(article.links)}}
                    </div>
                    {% endfor %}
                    <p class="no-match-text">No matching articles found</p>
                </div>
            </div>

            <div id="newest-content" class="tab-content">
                <div class="articlesContainerIP">
                    {% for article in newest %}
                    {{ ArticleTileIndexPage(articleData=article) }}
                    {% endfor %}
                </div>
            </div>

            <div id="groupedArticles-content" class="tab-content">
                <div class="groupedArticlesHeader">
                    <label>
                        {% if not isTRD %}
                        Explore the articles based on the action you want to perform
                        {% endif %}

                        {% if isTRD%}
                        Explore articles filtered by products
                        {% endif %}
                    </label>
                    <button class="expandAllButton active" onclick="onPressExpandAll(event)">Expand all</button>
                    <button class="collapseAllButton" onclick="onPressCollapseAll(event)">Collapse all</button>
                </div>
                <div>

                    {% if not isTRD %}
                    {% for task in tasksList %}
                    {# {% set grouped_articles = articles|selectattr('task', 'equalto', task) %} #}
                    {% set grouped_articles = [] %}
                    {% for article in articles %}
                    {% if article.tasks and task in article.tasks %}
                    {% set _ = grouped_articles.append(article) %}
                    {% endif %}
                    {% endfor %}
                    <div>
                        {{Accordion(title=task, articleList = grouped_articles)}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if isTRD%}
                    {% for product in productsList %}

                    {% set grouped_articles = [] %}
                    {% for article in articles %}
                    {% if article.products and product in article.products %}
                    {% set _ = grouped_articles.append(article) %}
                    {% endif %}
                    {% endfor %}
                    <div>
                        {{Accordion(title=product, articleList = grouped_articles)}}
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>

                {{ScrollToTop()}}
            </div>
        </div>

        {# {% include 'Footer.html' %} #}
        <footer>
            <img src='../assets/Footer_SUSE.png' alt="SUSE Footer" class="footer-image">
        </footer>

        <script src="../JS/genericScript.js"></script>
        <script src="../JS/indexPages.js"></script>
</body>

</html>