{% from 'macros/IndexPageMenu.html' import IndexPageMenu %}
{% from 'macros/Divider.html' import Divider %}
{% from 'macros/Dropdown.html' import Dropdown %}
{% from 'macros/ArticleTileIndexPage.html' import ArticleTileIndexPage%}
{% from 'macros/Accordion.html' import Accordion%}


{#-Jinja template for home page-#}
{% extends "base.html.jinja" %}

{% block head_title -%}
<title>Index Page SUSE Documentation</title>
{% endblock head_title %}

{% block head_link_css -%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../styles/indexPageStyles.css">
{% endblock head_link_css -%}

{% block body_main%}

{% set articlesList = data| selectattr('isPartOf.name', 'equalto', 'Technical Reference Documentation') |
selectattr('affiliatedOrganization', 'defined') |
selectattr('affiliatedOrganization.0.name', 'equalto', partner) %}

{# Map the filtered articles to a new list with desired properties #}
{% set articlesListSanitisedTRD = [] %}
{% for article in articlesList %}
{% set sanitisedArticle = {} %}
{% set _ = sanitisedArticle.update({'title': article.headline}) %}
{% set _ = sanitisedArticle.update({'description': article.description}) %}
{% set _ = sanitisedArticle.update({'products': article.mentions | map(attribute='name') | list }) %}
{% set _ = sanitisedArticle.update({'docType': article.additionalType}) %}
{% set _ = sanitisedArticle.update({'datePublished': article.datePublished[:10]}) %}
{% set _ = sanitisedArticle.update({'dateModified': article.dateModified[:10]}) %}

{% set links = {} %}
{% for item in article.about %}
{% if item["@type"] == "WebPage" %}
{% if "pdf" in item.encodingFormat %}
{% set _ = links.update({'pdf': item.url}) %}
{% elif 'single-html'in item.url %}
{% set _ = links.update({'singleHTML': item.url}) %}
{% else %}
{% set _ = links.update({'html': item.url}) %}
{% endif %}
{% endif %}
{% endfor %}
{%set _ = sanitisedArticle.update({'links': links}) %}

{% set _ = articlesListSanitisedTRD.append(sanitisedArticle) %}
{% endfor %}

{% set articles = articlesListSanitisedTRD | sort(attribute='title') %}

{% set docTypeList = [] %}
{% for article in articles %}
{% if article.docType not in docTypeList %}
{% set _ = docTypeList.append(article.docType) %}
{% endif %}
{% endfor %}
{% set docTypeList = docTypeList | sort() %}


<div class="main-container indexPage">
    <div class="breadcrumbs-bar">
        <a href="./homePage.html" onclick="onBackToHome(event)"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Home Page</a>
    </div>
    <h1>{{partner}}</h1>
    <p>
        {{description}}
    </p>
    <form method="get" class="formHeader" onsubmit="onFilterTRDAllSections(event)">
        <input type='search' name="" id="search" class="searchInput filterInput" size="80"
            placeholder="Filter the list by article title" oninput="onFilterTRDAllSections(event)" />

        <button type="submit" value="Search" title="Search" class="searchButton filterButton">
            <i class="fa fa-filter"></i>
        </button>
    </form>

    {% for docType in docTypeList %}
    <div class="section">
        <label class="section-header">{{docType}}</label>
        <div>
            {% for article in articles %}
            {% if article.docType == docType %}
            <div class="articleRow">
                <div class="articleText" data-article-link="{{article.links.html}}" onclick="onArticleClick(event)">
                    <a class="articleTitle" href={{article.links.html}}>
                        {# Article Title {{ loop.index }} : {{ article.title }} #}
                        {{article.title}}
                    </a>
                    <p class="articleDescription">{{article.description}}</p>
                </div>
                </p>
                <label>{{article.dateModified}}</label>
                {{Dropdown(article.links)}}
            </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <p class="no-match-text">No matching articles found</p>

</div>
{%endblock body_main%}

{% block after_body_scripts %}
{{ super() }}
<script src="../JS/indexPages.js"></script>
{% endblock after_body_scripts -%}