{% macro Accordion(title, articleList) %}

{% from 'macros/Dropdown.html' import Dropdown %}
{% from 'macros/Divider.html' import Divider %}

{% set articleList = articleList|list %}

<div class="accordion-item">
    <div class="accordion-title" onclick="onAccordionTileClick(event)">
        <label>{{ title }}</label>
        <div class="accordionTileActions">

            <input type="search" class="accordionFilterBar" placeholder="Filter by title"
                onclick="onFilterAccordionClick(event)" oninput="onFilterAccordionList(event)">

            <button class="accordion-button">

                <i class="fa fa-solid fa-angle-down expanded" title="Close"></i>

                <i class="fa fa-solid fa-angle-right collapsed" title="Open"></i>

            </button>
        </div>
    </div>

    <div class="accordion-content">

        {{Divider()}}

        <p class="no-match-text">No matching articles found</p>

        <!-- {% if articleList|length > 0 %} -->
        {% for articleData in articleList %}
        <div class="articleRow">
            <div class="articleText" data-article-link="{{articleData.links.html}}" onclick="onArticleClick(event)">
                <a class="articleTitle" href={{articleData.links.html}}>
                    {{ articleData.title }}
                </a>
                <p class="articleDescription">{{articleData.description}}</p>
            </div>
            {{ Dropdown(articleData.links) }}
        </div>
        {% endfor %}
        <!-- {% endif %} -->
    </div>

</div>
{% endmacro %}