{% macro ArticleRow(article,languages,translations, isSBP, isTRD, isSmartDocs) %}

{% from 'macros/Dropdown.html' import Dropdown %}

<div class="articleRow" data-topics="{{ article.tasks }}" data-products="{{ article.productsOnly }}"
    data-doctypes="{{ article.docTypes }}"
    data-article-link="{% if article.links.html %}{{ article.links.html }}{% elif article.links.pdf %}{{ article.links.pdf }}{% endif %}"
    data-rank="{{ article.rank }}" data-lang="{{languages[article.lang]}}">
    <div class="articleText" onclick="onArticleClick(event)">
        <a class="articleTitle"
            href="{% if article.links.html %}{{ article.links.html }}{% elif article.links.pdf %}{{ article.links.pdf }}{% endif %}"
            data-rank="{{ article.rank }}">
            {%if article.subtitle%}
            {{article.title}}: {{article.subtitle}}
            {%else%}
            {{article.title}}
            {%endif%}
            {%if article.gated%}
            <img src="../assets/gated-lock.png" alt="lock" class="gated-icon" title="Premium content" />
            {%endif%}
        </a>
        <p class="articleDescription">{{article.description}}</p>

        {% set appliesToText = [] %}
        {% for productInfo in article.products %}
        {% set product_versions = productInfo.versions | join(', ') %}
        {% set temp = productInfo.name + ' ' + product_versions %}
        {% set _ = appliesToText.append(temp) %}
        {% endfor %}
        {% set appliesToText = appliesToText | join('; ') %}

        {%if (isSBP or isTRD or isSmartDocs) and appliesToText%}
        <p class="applies-to-text"> <span>{{translations['applies-to-text']}}: </span> {{ appliesToText }}
        </p>
        {%endif%}
    </div>
    <label class="date-modified">{{article.dateModified}}</label>
    {% set dropdown_tooltip = translations['format-tooltip']%}
    {{Dropdown(article.links, dropdown_tooltip)}}
</div>
{%endmacro%}