{% macro Dropdown(links) %}
<div class="formatDropdown" onclick="event.stopPropagation();">
    <button class="dropdown-toggle" onclick="toggleDropdown(event)" title="Select format">HTML</button>
    <div class="format-dropdown-menu">
        {% if links.pdf%}
        <a href={{links.pdf}} class="dropdown-item">PDF</a>
        {% endif %}
        {% if links.singleHTML %}
        <a href={{links.singleHTML}} class="dropdown-item">Single-HTML</a>
        {% endif %}
    </div>
</div>

{% endmacro %}