{% macro IndexPageMenu(isTRD) %}
<div>
    <ul class="menu-bar indexPageMenu">
        <li id="all_articles_tab" onclick="onTabChange(event,'allArticles')" class="selectedTab">All Articles</li>
        <li id="newest_tab" onclick=" onTabChange(event,'newest')">Newest</li>

        {% if not isTRD %}
        <li id="filter_by_tasks_tab" onclick="onTabChange(event,'groupedArticles')">Filter by Task</li>
        {% endif %}

        {% if isTRD%}
        <li id="filter_by_products_tab" onclick="onTabChange(event,'groupedArticles')">Filter by Products</li>
        {% endif %}
    </ul>
</div>
{% endmacro %}