{% macro IndexPageMenu(isTRD, articleCount) %}
<div>
    {% if articleCount>=8 %}
    <ul class="menu-bar indexPageMenu">
        <li id="all_articles_tab" onclick="onTabChange(event,'allArticles')" class="selectedTab"
            title="All documents published for this category/product">All Articles</li>
        <li id="newest_tab" onclick=" onTabChange(event,'newest')" title="Most recently published or updated documents">
            Newest</li>

        {% if not isTRD %}
        <li id="filter_by_tasks_tab" onclick="onTabChange(event,'groupedArticles')" title="Documents grouped by task">
            Filter by Task</li>
        {% endif %}

        {% if isTRD%}
        <li id="filter_by_products_tab" onclick="onTabChange(event,'groupedArticles')"
            title="Documents grouped by product">Filter by Products</li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endmacro %}