{% macro ProductTile( title, description, supportedVersions, unsupportedVersions, acronymn, hidden) %}

<div class="tile {% if hidden %} hiddenTile{% endif %}" onclick="showVersionPopover(event)"
    data-supported-versions='{{supportedVersions|tojson|escape}}'
    data-unsupported-versions='{{unsupportedVersions|tojson|escape}}' data-acronymn='{{acronymn}}'>
    <label class="tile-header">{{ title }}</label>
    <p class="tile-info">{{description}}</p>
    <div class="version-pointer">
        <i class="fa fa-angle-right" title="Choose version"></i>
    </div>
    <!-- {% if popoverItems|length> 1 %} -->
    <!-- {% endif %} -->
</div>
{% endmacro %}