<!--back to top-->
<div class="container-fluid" style="height:0;">
    <div class="row">
        <div class="col-xs-12">
            <!-- <div id="scrollTop">
                <span class="fa fa-chevron-circle-up" onclick="backToTop()"></span>
            </div> -->
        </div>
    </div>
</div>

<footer class="t-work">
    <div class="footer-start-line"></div>
    <div class="container-fluid ">
        <div class="row">
            <div class="footer">
                <div class="l-flex l-flex--justify-start u-margin-bottom-medium">
                    <img class="logo" alt="SUSE Logo" src="https://www.suse.com/assets/img/suse-white-logo-green.svg" />
                    <div class="foot-nav">
                        <ul class="l-flex l-flex--justify-start">
                            <li>
                                <a href="https://jobs.suse.com/" title="Careers" class="" rel="nofollow">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="https://www.suse.com/company/legal/" title="Legal" class="">
                                    Legal
                                </a>
                            </li>
                            <li id="anti-slavery">
                                <a href="https://links.imagerelay.com/cdn/3404/ql/811b4f2364b94ff18eb15e315b3e263d/suse_anti_slavery_statement.pdf"
                                    title="Anti-Slavery Statement" class="">
                                    Anti-Slavery Statement
                                </a>
                            </li>
                            <li>
                                <a href="https://www.suse.com/legal/anti-slavery/" title="Anti-slavery" class="">
                                    Anti-slavery
                                </a>
                            </li>
                            <li>
                                <a href="https://www.suse.com/company/about/" title="About" class="">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="https://www.suse.com/company/subscribe/" title="Communications Preferences"
                                    class="">
                                    Communications Preferences
                                </a>
                            </li>
                            <li>
                                <a href="https://www.suse.com/contact/" title="Contact Us" class="">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#footer-chat-now" title="Let's Chat" class="chat" target="_self"
                                    oncontextmenu="return false;">
                                    Let's Chat
                                </a>
                            </li>
                            <li id="feedback-footer"></li>
                        </ul>
                    </div>

                    <div class="social">
                        <ul class="l-flex l-flex--justify-start">
                            <li><a href="https://www.youtube.com/channel/UCHTfqIzPKz4f_dri36lAQGA " rel="nofollow"><img
                                        src="https://www.suse.com/assets/img/youtube.png" alt="" /></a></li>
                            <li><a href="https://www.facebook.com/SUSEWorldwide" rel="nofollow"><img
                                        src="https://www.suse.com/assets/img/fn-fbook-ico-white.png" alt="" /></a></li>
                            <li class="twitter"><a href="https://www.twitter.com/SUSE" rel="nofollow"><img
                                        src="https://www.suse.com/assets/img/logo-black.png" width="30" alt="" /></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/suse" rel="nofollow"><img
                                        src="https://www.suse.com/assets/img/fn-link-ico-white.png" alt="" /></a></li>
                        </ul>
                    </div>

                </div>
                <div class="divider"></div>
                <div class="copy-left">
                    <div class="phone">

                        <div class="number">
                            Support: <a style="color:inherit;" href=https://www.suse.com/support/handbook/#open>Open a
                                Support Case</a>
                        </div>
                    </div>

                </div>
                <div class="copy">
                    <span class="copy__rights">
                        &copy;
                        <script
                            type="text/javascript">var d = new Date(); document.write(d.getFullYear() + " ");</script>
                        &copy;SUSE, All Rights Reserved
                    </span>
                    <span class="copy__rights">
                        <a href="javascript:Optanon.ToggleInfoDisplay()">Cookie Settings</a>
                    </span>
                    <a href="https://www.suse.com/company/legal/"
                        onclick="ga('send', 'event', 'Footer Nav', 'Privacy and Cookie Policy', 'https://www.suse.com/company/legal/');">Privacy
                        Policy</a> and
                    <a href="https://www.suse.com/company/legal/cookies-policy/"
                        onclick="ga('send', 'event', 'Footer Nav', 'Privacy and Cookie Policy', 'https://www.suse.com/company/legal/cookies-policy/');">Cookie
                        Policy</a>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" async defer
    src="https://www.suse.com/uniparts/scripts/W3sic3JjIjoiXC9hc3NldHNcL2pzXC90aXRsZUhlaWdodC5qcz9hdnM9MTcxNjg4MjM3NyIsImF0dHJpYnV0ZXMiOltdfV0-/?avs=1716882377"></script>

<div id="CRAWLER_LAST_MODIFIED" style="display:none !important;"></div>

<!-- SUSE include: END -->