<meta charset="utf-8" />
<title>SUSE - Open Source Solutions for Enterprise Servers &amp; Cloud | SUSE</title>
<meta name="description"
    content="Modernize your infrastructure with SUSE Linux Enterprise servers, cloud technology for IaaS, and SUSE&amp;#039;s software-defined storage." />
<meta name="keywords" content="Linux, best linux server, enterprise Linux, Linux operating system, linux server os" />
<link rel="canonical" href="https://documentation.suse.com" />
<link rel="icon" type="image/png" href="https://www.suse.com/favicon.ico" />



<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<script type="text/javascript" src="https://www.suse.com/assets/js/jquery-2.1.3.min.js?avs=1710146498"></script>
<script type="text/javascript" src="https://www.suse.com/assets/uniparts/js/core.js?avs=1710146498"></script>
<script type="text/javascript" src="https://www.suse.com/assets/js/jquery-ui.min.js?avs=1710146498"></script>
<script type="text/javascript"
    src="https://www.suse.com/uniparts/scripts/W3sic3JjIjoiXC9hc3NldHNcL3VuaXBhcnRzXC9qc1wvaGVhZGVyLmpzP2F2cz0xNzEwMTQ2NDk4IiwiYXR0cmlidXRlcyI6W119LHsic3JjIjoiXC9hc3NldHNcL3VuaXBhcnRzXC9qc1wvc2VhcmNoLmpzP2F2cz0xNzEwMTQ2NDk4IiwiYXR0cmlidXRlcyI6W119LHsic3JjIjoiXC9hc3NldHNcL2pzXC9tb2JpbGUtbmF2LmpzP2F2cz0xNzEwMTQ2NDk4IiwiYXR0cmlidXRlcyI6W119LHsic3JjIjoiXC9hc3NldHNcL3VuaXBhcnRzXC9qc1wvbGFuZ3VhZ2UuanM_YXZzPTE3MTAxNDY0OTgiLCJhdHRyaWJ1dGVzIjpbXX0seyJzcmMiOiJodHRwczpcL1wva2l0LmZvbnRhd2Vzb21lLmNvbVwvYzliY2ZmYzU3ZS5qcz9hdnM9MTcxMDE0NjQ5OCIsImF0dHJpYnV0ZXMiOnsiY3Jvc3NvcmlnaW4iOiJhbm9ueW1vdXMifX0seyJzcmMiOiJcL2Fzc2V0c1wvdW5pcGFydHNcL2RvY3NcL2pzXC9xdWFsdHJpY3MuanM_YXZzPTE3MTAxNDY0OTgiLCJhdHRyaWJ1dGVzIjpbXX1d/?avs=1710146498"></script>

<link rel="stylesheet" href="https://www.suse.com/assets/css/bootstrap.css?avs=1710146498" media="all"
    type="text/css" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/helpers.css?avs=1710146498" media="print" type="text/css"
    onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/header.css?avs=1710146498" media="all" type="text/css" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/footer.css?avs=1710146498" media="print" type="text/css"
    onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/iefix.css?avs=1710146498" media="print" type="text/css"
    onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/font-awesome.css?avs=1710146498" media="print"
    type="text/css" onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/google-fonts-poppins.css?avs=1710146498" media="print"
    type="text/css" onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/main-uh.css?avs=1710146498" media="print" type="text/css"
    onload="this.media='all'" />
<link rel="stylesheet" href="https://www.suse.com/assets/css/boxes-styles.css?avs=1710146498" media="all"
    type="text/css" />



<meta property="og:url" content="https://documentation.suse.com/" />
<meta property="og:image" content="https://www.suse.com/assets/img/suse-social-sharing-image.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:title" content="SUSE - Open Source Solutions for Enterprise Servers &amp; Cloud" />
<meta property="og:description" content="Modernize your infrastructure with SUSE Linux Enterprise..." />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@SUSE" />
<meta name="twitter:title" content="SUSE - Open Source Solutions for Enterprise Servers..." />
<meta name="twitter:description"
    content="Modernize your infrastructure with SUSE Linux Enterprise servers, cloud technology for IaaS, and SUSE&amp;#039;s..." />
<meta name="twitter:image" content="https://www.suse.com/assets/img/suse-social-sharing-image.png" />
<meta name="twitter:image:alt" content="SUSE: Choose open. Choose freedom." />


<!-- SUSE include: END -->