<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSE - {{ title }}</title>

</head>


<body>
    <div>

        {% macro extract_task(article) %}
        {%- set task_list = [] %}
        {%- for task in article.about %}
        {%- set _ = task_list.append(task.name) %}
        {%- endfor %}
        {{ task_list }}
        {% endmacro %}

        {# Filter articles based on conditions #}
        {% set articlesList = data | selectattr('isPartOf.name', 'equalto', 'Products & Solutions') |
        selectattr('mentions', 'defined') | selectattr('mentions.0.name', 'equalto', 'SUSE Linux Enterprise Server') |
        selectattr('mentions.0.softwareVersion', 'equalto', '15-SP5') %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitised = [] %}
        {% for article in articlesList %}
        {%- set sanitized_article = {'title': article.headline, 'description': article.description,
        'task':extract_task(article)} %}
        {%- set _ = articlesListSanitised.append(sanitized_article) %}
        {% endfor %}

        {# Convert the map result to a list #}
        {{ articlesListSanitised }}
    </div>

    <div>
        {# Filter articles based on conditions #}
        {% set articlesListSBP = data | selectattr('isPartOf.name', 'equalto', 'Best Practices') %}

        {{ articlesListSBP }}

        {% set articlesListSBP = articlesListSBP | selectattr('articleSection', 'in', ['Storage']) %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitised = [] %}
        {% for article in articlesListSBP %}
        {% set sanitisedArticle = {} %}
        {% set _ = sanitisedArticle.update({'title': article.headline}) %}
        {% set _ = sanitisedArticle.update({'description': article.description}) %}
        {% set _ = sanitisedArticle.update({'task': article.about | map(attribute='name') | list }) %}
        {% set _ = articlesListSanitised.append(sanitisedArticle) %}
        {% endfor %}


        {{ articlesListSanitised }}
    </div>

    <div>
        {# Filter articles based on conditions #}
        {% set articlesList = data | selectattr('isPartOf.name', 'equalto', 'TRD') |
        selectattr('affiliatedOrganization', 'defined') |
        selectattr('affiliatedOrganization', 'selectattr', 'name', 'equalto', 'IBM') %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitised = [] %}
        {% for article in articlesList %}
        {% set sanitisedArticle = {} %}
        {% set _ = sanitisedArticle.update({'title': article.headline}) %}
        {% set _ = sanitisedArticle.update({'description': article.description}) %}
        {% set _ = sanitisedArticle.update({'products': article.mentions | map(attribute='name') | list }) %}
        {% set _ = sanitisedArticle.update({'docType': article.additionalType}) %}
        {% set _ = articlesListSanitised.append(sanitisedArticle) %}
        {% endfor %}

        {{ articlesListSanitised }}
    </div>

</body>

</html>