<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSE - {{ title }}</title>

</head>


<body>
    <div>
        <label>Product & version based filtering for Product index page</label>
        {# Filter articles based on conditions #}
        {% set articlesList = data | selectattr('isPartOf.name', 'equalto', 'Products & Solutions') |
        selectattr('mentions', 'defined') | selectattr('mentions.0.name', 'equalto', 'SUSE Linux Enterprise Server') |
        selectattr('mentions.0.softwareVersion', 'equalto', '15-SP5') %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitised = [] %}
        {% for article in articlesList %}

        {% set sanitisedArticle = {} %}
        {% set _ = sanitisedArticle.update({'title': article.headline}) %}
        {% set _ = sanitisedArticle.update({'description': article.description}) %}
        {% set _ = sanitisedArticle.update({'tasks': article.about | selectattr('@type', 'equalto', 'Thing') |
        map(attribute='name') | list }) %}
        {% set _ = articlesListSanitised.append(sanitisedArticle) %}
        {% endfor %}

        {# Fetching task list #}
        {% set tasksList = [] %}
        {% for article in articlesListSanitised %}
        {% for task in article.tasks %}
        {% if task not in tasksList %}
        {% set _ = tasksList.append(task) %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        {{ articlesListSanitised }}
        {{tasksList}}
    </div>
    {# -----------------------------------------------------------------------------------------#}
    <div>
        <label>SBP category based filtering</label>
        {# Filter articles based on conditions #}
        {% set articlesListSBP = data | selectattr('isPartOf.name', 'equalto', 'Best Practices') |
        selectattr('articleSection', 'defined')%}
        {% set articlesListSBPCategory = [] %}
        {% for article in articlesListSBP %}
        {% if 'Storage' in article.articleSection %}
        {% set _ = articlesListSBPCategory.append(article) %}
        {% endif %}
        {% endfor %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitisedSBP = [] %}
        {% for article in articlesListSBPCategory %}
        {% set sanitisedArticle = {} %}
        {% set _ = sanitisedArticle.update({'title': article.headline}) %}
        {% set _ = sanitisedArticle.update({'description': article.description}) %}
        {% set _ = sanitisedArticle.update({'tasks': article.about | selectattr('@type', 'equalto', 'Thing') |
        map(attribute='name') | list }) %}
        {% set _ = articlesListSanitisedSBP.append(sanitisedArticle) %}
        {% endfor %}

        {# Fetching task list #}
        {% set tasksList = [] %}
        {% for article in articlesListSanitised %}
        {% for task in article.tasks %}
        {% if task not in tasksList %}
        {% set _ = tasksList.append(task) %}
        {% endif %}
        {% endfor %}
        {% endfor %}


        {{ articlesListSanitisedSBP }}
        {{tasksList}}
    </div>
    {# ---------------------------------------------------------------------------------------- #}
    <div>
        <label>TRD-partner based filtering</label>
        {# Filter articles based on conditions #}
        {% set articlesList = data | selectattr('isPartOf.name', 'equalto', 'TRD') |
        selectattr('affiliatedOrganization', 'defined') |
        selectattr('affiliatedOrganization.0.name', 'equalto', 'IBM') %}

        {# Map the filtered articles to a new list with desired properties #}
        {% set articlesListSanitisedTRD = [] %}
        {% for article in articlesList %}
        {% set sanitisedArticle = {} %}
        {% set _ = sanitisedArticle.update({'title': article.headline}) %}
        {% set _ = sanitisedArticle.update({'description': article.description}) %}
        {% set _ = sanitisedArticle.update({'products': article.mentions | map(attribute='name') | list }) %}
        {% set _ = sanitisedArticle.update({'docType': article.additionalType}) %}
        {% set _ = articlesListSanitisedTRD.append(sanitisedArticle) %}
        {% endfor %}

        {# Fetching product list #}
        {% set productsList = [] %}
        {% for article in articlesListSanitisedTRD %}
        {% for product in article.products %}
        {% if product not in productsList %}
        {% set _ = productsList.append(product) %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        {# Fetching Doc Type List #}
        {% set docTypeList = [] %}
        {% for article in articlesListSanitisedTRD %}
        {% if article.docType not in docTypeList %}
        {% set _ = docTypeList.append(article.docType) %}
        {% endif %}
        {% endfor %}

        {{ articlesListSanitisedTRD }}
        {{productsList}}
        {{docTypeList}}
    </div>
    <style>
        label {
            display: block;
            margin-top: 2rem;
        }
    </style>
</body>

</html>