:root {
  --primary-pine-green: #0c322c;
  --primary-jungle-green: #30ba78;
  --secondary-midnight-blue: #192072;
  --secondary-waterhole-blue: #2453ff;
  --tertiary-mint: #90ebcd;
  --tertiary-persimmon: #fe7c3f;
  --font-size: 16px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: poppins, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1;
}

.view {
  height: 100vh;
  font-family: Poppins, Roboto, Verdana, sans-serif !important;
  text-align: center;
  font-size: var(--font-size);
}

.search-page-view {
  text-align: left;
}

.header-image,
.footer-image {
  width: 100%;
}

.main-container {
  min-height: 80vh;
  max-width: 1400px;
  margin: auto;
}

.pageHeading {
  margin-top: 2rem;
}

/* Global search */
.formHeader {
  display: flex;
  justify-content: center;
}

.standaloneSearch {
  margin-top: 1rem;
  width: 92%;
  margin-inline: auto;
}

.searchInput,
.searchInput:focus {
  flex-grow: 1;
  padding: 0.8rem;
  margin-block: 1.5rem;
  font-size: var (--font-size);
  border: 2px solid var(--tertiary-persimmon);
  outline: none;
}

.searchButton {
  padding: 0.8rem;
  color: white;
  background: var(--tertiary-persimmon);
  border: 2px solid var(--tertiary-persimmon);
  font-size: 1rem;
  margin-block: 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.searchInput {
  letter-spacing: 1px;
  width: 100%;
}

/* Menubar */
.menu-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 2.5rem;
  padding-inline: 0;
  width: 100%;
  line-height: 3rem;
  align-items: center;
}

.menu-bar li {
  width: default;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

#homepage-menu li {
  min-width: 11rem;
  font-size: 1.25rem;
}

#homepage-menu li:first-child {
  width: 19rem;
}

/* .menu-bar button {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.6rem;
  text-decoration: none;
  color: #0c322c;
  cursor: pointer !important;
  background: transparent;
  border: none;
} */

.menu-bar li:hover {
  border-bottom: 2px solid #90ebcd;
  color: black;
}

.menu-bar .selectedTab {
  color: #0c322c;
  border-bottom: 4px solid #fe7c3f;
  font-weight: 600;
}

.menu-bar .selectedTab:hover {
  border-bottom: 4px solid #fe7c3f;
  /* border-bottom: 5px solid #0c322c; */
}

.menu-bar .fa {
  margin-left: 0.2rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  color: #30ba78;
  cursor: pointer;
  /* width: 0.9rem; */
}

.menu-bar .sortingOptions {
  /* display: inline; */
  font-size: 1px;
}

.tab-content {
  display: none;
}

.tab-content.active-content {
  display: block;
}

.section-header,
.indexPage .section-header {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 2.5rem;
  line-height: 3;
}

.go-to-top-button {
  background-color: #d3d3d3;
  border: none;
  border-radius: 50%;
  bottom: 3rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: none;
  height: 3.4rem;
  padding-bottom: 5px;
  position: fixed;
  right: 3rem;
  width: 3.4rem;
}

.go-to-top-button:hover {
  height: 3.5rem;
  height: 3.5rem;
}

.hideButton {
  display: none !important;
}

/* Divider line */
.divider-line {
  display: flex;
  height: 1.5px;
  width: 30rem;
  margin-inline: auto;
}

.line-permission {
  background-color: var(--tertiary-persimmon);
  width: 25%;
}

.line-green {
  background-color: var(--primary-jungle-green);
  width: 45%;
}

.line-blue {
  background-color: var(--secondary-waterhole-blue);
  width: 10%;
}

.line-mint {
  background-color: var(--tertiary-mint);
  width: 20%;
}

html {
  scroll-behavior: smooth;
}

/* Walkthrough dialog */
.helpButton {
  padding: 0.8rem;
  background-color: #d3d3d3;
  border: none;
  position: fixed;
  right: 0rem;
  cursor: pointer;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

dialog#walkThroughDialog {
  border: none;
  background: transparent;
  margin: 0;
  position: absolute;
}
dialog#walkThroughDialog .dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
}

dialog#walkThroughDialog .dialog-header img {
  margin: 0;
  width: 32px;
}

dialog#walkThroughDialog .dialog-header button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0.2rem;
  cursor: pointer;
}

dialog#walkThroughDialog .dialog-footer {
  display: flex;
  justify-content: space-between;
}

dialog#walkThroughDialog .dialog-footer button {
  background: transparent;
  border: none;
  color: var(--primary-jungle-green);
  cursor: pointer;
  font-weight: 500;
}

dialog#walkThroughDialog .tooltip-content {
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 10px;
  width: 14rem;
  position: relative;
}

dialog#walkThroughDialog .tooltip-content p {
  font-size: 14px;
}

dialog#walkThroughDialog .tooltip-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}

#dialogCloseButton {
  display: none;
}

@media (max-width: 850px) {
  .searchInput,
  .searchInput:focus {
    max-width: 80%;
  }

  .menu-bar {
    flex-direction: column;
    line-height: 3rem;
    align-items: center;
  }

  .menu-bar li {
    width: default;
  }

  .divider-line {
    width: 80%;
  }
}
