:root {
  --primary-pine-green: #0c322c;
  --primary-jungle-green: #30ba78;
  --darker-jungle-green: #008657;
  --secondary-midnight-blue: #192072;
  --secondary-waterhole-blue: #2453ff;
  --tertiary-mint: #90ebcd;
  --tertiary-persimmon: #fe7c3f;
  --fog-color: #efefef;
  --font-size: 16px;
}

.susecon-survey {
  width: 100%;
  display: flex;
  height: 48px;
  font-size: 15px;
  box-shadow: 0 1px 6px #00000029;
  position: relative;
  background-color: var(--fog-color);
  align-items: center;
}

.news-tag {
  background-color: var(--primary-pine-green);
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  padding-left: 48px;
  width: 20%;
  justify-content: flex-end;
}

.news-tag label {
  margin: 0;
  padding-top: 8px;
  font-weight: 500;
}

.news-tag::after {
  border-color: var(--primary-pine-green) var(--fog-color);
  border-style: solid;
  border-width: 48px 48px 0 0;
  content: "";
  width: 0;
  margin-left: 20px;
}

.susecon-survey a {
  /* color: var(--darker-jungle-green); */
  color: #025937;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 8px;
}

.sortingOptions {
  display: none;
}

.selectedTab .sortingOptions {
  display: inline;
}

/* Sections */

.section-header {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 2.5rem;
}

/* Tiles */
.tile {
  /* width: 14rem;
  height: 12rem; */

  /* width: 256px;
  height: 224px; */
  width: 16rem;
  height: 14rem;

  margin: 1.5rem;
  padding: 1rem;

  line-height: 1.6rem;
  cursor: pointer;
  text-align: left;

  position: relative;
}

.tile:not(.featuredTile) {
  border: 2px solid var(--tertiary-mint);
  box-shadow: none;
}

.tile:hover {
  border-color: black;
}

a.tile {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.tile .tile-header {
  /* font-size: 1rem; */
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.tile .sub-content {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.tile-info {
  font-size: 14px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 0;
}

.hiddenTile {
  display: none !important;
}

/* .hiddenTile * {
  display: none !important;
} */

.productsContainer,
.categoriesContainer,
.trdContainer,
.smartDocContainer,
.newestContainer,
.popularContainer,
.featuredContainer {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; */
  min-height: 12rem;
  margin-bottom: 2rem;
  position: relative;
}

.productsContainer,
.categoriesContainer,
.trdContainer,
.smartDocContainer,
.newestContainer,
.popularContainer,
.featuredContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  justify-content: space-evenly;
}

.categoriesContainer .tile,
.trdContainer .tile,
.smartDocContainer .tile {
  height: 9rem;
}

.categoriesContainer .tile-header,
.trdContainer .tile-header,
.smartDocContainer .tile-header {
  padding-left: 1rem;
}

.explore-list-button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  font-size: 18px;
  /* font-weight: 500; */
  font-weight: 600;
  background: transparent;
  color: #fe7c3f;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 50ms;
  margin-inline: auto;
  position: relative;
  top: -12px;
}

.explore-list-button:hover {
  font-weight: 600;
}

.productIcon {
  height: 2.8rem;
  margin: auto;
  margin-bottom: 0.5rem;
  display: inline;
}

.version-pointer {
  /* position: relative; */
  margin-left: 96%;
  bottom: 3rem;
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.productsContainer .version-pointer {
  /* position: static; */
}

.alphabeticalSelector {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin-right: 1.5rem;
  width: 90%;
}

.alphabeticalSelector li {
  list-style: none;
}

.alphabeticalSelector li {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #30ba78;
  /* flex-grow: 1; */
}

.alphabeticalSelector li:hover {
  font-weight: bold;
}

.featuredTile {
  height: 14rem;
  width: 16rem;
  padding: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.featuredImageTile {
  background-image: linear-gradient(45deg, #f1f1f1, #fefefe);
  height: 50%;
  margin-bottom: 1rem;
}

.featuredImage {
  filter: brightness(1.1);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.featured-tile-text {
  margin-inline: 1rem;
  margin-bottom: 1rem;
}

/* Popover */
.popover {
  display: flex;
  min-height: 10rem;
  max-height: 25rem;
  min-width: 10rem;
  max-width: 18rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 15px #90ebcd;
  background: white;
  font-size: 1.05rem;
  padding-top: 1.5rem;
  border: none;
  font-size: 14px;
}

/* .popover {
  box-shadow: none;
  border-radius: 0;
  border: 2px solid var(--primary-jungle-green);
  padding-block: 0.5rem;
  padding-inline: 0;
} */

.popover label {
  font-weight: 600;
  padding: 0.5rem;
  /* border-bottom: 2px solid var(--primary-jungle-green); */
}

.suseLogo-in-popup {
  height: 1.5rem;
  display: block;
  /* margin-bottom: 1rem; */
  /* display: none; */
}

.popover ul {
  list-style: none;
  padding-inline: 0;
}

.popover ul a {
  text-decoration: none;
  line-height: 2rem;
  color: var(--primary-jungle-green);
  font-weight: bold;
  /* transition: font-weight 100ms ease-in; */
}

.popover ul a:hover {
  text-decoration: underline;
}

/* .popover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #fff transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
} */

.alphabeticalSelector .selectedAlphabet {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-jungle-green);
}

.fa.selectedSorting {
  border: 1px solid #30ba78;
}

/* Switch implementation */
.switch-bar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 16px;
  padding-inline: 8px;
  flex-wrap: wrap;
}

.prod-fam-options button {
  background: transparent;
  border: none;
  padding-inline: 16px;
  padding-block: 8px;
  /* border-right: 1px solid; */
  outline: 2px solid var(--tertiary-mint);
  outline-offset: 4px;
  margin-block: 6px;
}

.prod-fam-options button.selected {
  background-color: var(--primary-jungle-green);
  color: white;
  font-weight: bold;
  border-right: 1px solid;
}

.support-options {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin-inline: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-jungle-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-jungle-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 850px) {
  .alphabeticalSelector {
    flex-wrap: wrap;
    line-height: 2rem;
  }

  .switch-bar {
    justify-content: center;
  }

  .news-tag {
    display: none;
  }
}
