:root {
  --primary-pine-green: #0c322c;
  --primary-jungle-green: #30ba78;
  --secondary-midnight-blue: #192072;
  --secondary-waterhole-blue: #2453ff;
  --tertiary-mint: #90ebcd;
  --tertiary-persimmon: #fe7c3f;
  --font-size: 16px;
}

.indexPage {
  padding-block: 2rem;
  padding-inline: 4rem;
  text-align: left;
}

.breadcrumbs-bar a {
  color: var(--primary-jungle-green);
  text-decoration: none;
}

.indexPage h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.indexPage p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

.indexPage label {
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
}

.indexPageMenu {
  justify-content: space-between;
}

ul.indexPageMenu {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.indexPageMenu li,
.indexPageMenu a {
  font-size: 1rem;
  padding-inline: 1rem;
}

.filterInput,
.filterInput:focus {
  border: 2px solid var(--primary-pine-green);
}

.filterButton {
  border: 2px solid var(--primary-pine-green);
  background: var(--primary-pine-green);
}

.articleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* cursor: pointer; */
  margin: 8px;
}

.articleRow .articleTitle {
  text-decoration: none;
  color: inherit;
  line-height: 1.8;
  cursor: pointer;
}

/* .articleRow:hover {
  color: #0c322c;
} */

.articleText {
  /* max-width: 76%; */
  width: 64%;
  margin-block: 0.5rem;
  cursor: pointer;
}

.articleText:hover a,
.articleTileIndexPage:hover .articleTitle {
  color: var(--primary-jungle-green);
  font-weight: 500;
}

.formatOptions {
  display: flex;
  gap: 0.8rem;
}

.formatOptions button {
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.formatDropdown {
  position: relative;
}

.formatDropdown button,
.formatDropdown button:hover {
  /* width: 7.5rem; */
  padding: 0.3rem;
  padding-left: 1rem;
  font-size: 0.9rem;
  background: transparent;
  color: black;
  border: 2px solid #fe7c3f;
  border-radius: 0;
  text-align: left;
  cursor: pointer;
}

.format-dropdown-menu {
  position: absolute;
  /* width: 6.8rem; */
  width: max-content;
  font-size: 0.9rem;
  top: 100%; /* Position below the button */
  left: 0;
  background-color: #fff; /* Adjust background color as needed */
  border: 1px solid #ccc; /* Add border for styling */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  padding: 8px;
  z-index: 1000; /* Ensure the menu appears above other elements */
  inset: -2px auto auto 0px;
  transform: translate3d(0px, 30.2222px, 0px);
}

.dropdown-item {
  display: block;
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 3rem;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.format-dropdown-menu {
  display: none;
}

.show {
  display: block;
}

/* Article tiles index page */
.articlesContainerIP {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.articleTileIndexPage {
  display: flex;
  flex-wrap: wrap;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  margin-bottom: 0.8rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  /* width: 44%; */
  width: 48%;
  cursor: pointer;
}

.indexPage .articleDescription {
  font-size: 14px;
  margin-block: 8px;
  color: #0f0f0f;
}

.articleTileIndexPage .tags_Format_Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: 1rem; */
  margin-top: 8px;
  font-size: 14px;
}

.articleTileIndexPage a {
  text-decoration: none;
  color: inherit;
}

.articleTileIndexPage .tags {
  display: flex;
  flex-wrap: wrap;
}

.articleTileIndexPage .tags label {
  margin-top: 0.5rem;
  margin-right: 1.2rem;
  padding: 0.3rem;
  padding-inline: 0.6rem;
  border-radius: 10px;
  font-size: 0.88rem;
  font-weight: 500;
  background-color: #f2f2f2;
}

/* Grouped articles */
.groupedAriclesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.groupedAriclesHeader button {
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.accordion-item {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  margin-block: 1rem;
  font-size: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  flex-wrap: wrap;
}

.accordion-title label {
  font-weight: 600;
}

.accordion-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #90ebcd;
  cursor: pointer;
}

.accordion-button .fa {
  font-size: 1.5rem;
}

.accordion-content {
  padding-top: 1rem;
  text-align: left;
  display: none;
}

.accordion-content .divider-line {
  margin-inline: 0;
}

.accordion-content a {
  text-decoration: none;
  color: inherit;
}

.accordion-title:not(.active) .expanded,
.accordion-title:not(.active) .accordionFilterBar {
  display: none;
}

.accordion-title.active .expanded,
.accordion-title.active .accordionFilterBar {
  display: block;
}

.accordion-title.active .collapsed {
  display: none;
}

.expandAllButton:not(.active),
.collapseAllButton:not(.active) {
  display: none;
}

.accordionTileActions {
  display: flex;
  align-items: center;
}

.accordionFilterBar {
  border: none;
  border-bottom: 1px solid var(--primary-pine-green);
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.accordionFilterBar:active {
  border: 1px solid var(--primary-pine-green);
  /* check */
}

.no-match-text {
  display: none;
}

@media (max-width: 850px) {
  .indexPage {
    padding-inline: 1.5rem;
  }

  .filterInput,
  .filterInput:focus {
    max-width: 80%;
  }

  .articleRow {
    flex-wrap: wrap;
    margin-block: 1rem;
  }

  .articleRow .articleText {
    max-width: 100%;
  }

  /* .articleRow .articleText .articleDescription:hover {
    color: #30ba78;
  } */

  .articleTileIndexPage {
    width: 80%;
    margin-inline: auto;
  }
  .articleTileIndexPage .tags {
    display: none;
  }
  .accordionTileActions {
    flex-grow: 1;
    padding-top: 0.5rem;
  }
  .accordion-button {
    margin-left: auto;
  }
}
